<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Grading_System_For_PCU.My.MySettings.LoginDatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\LoginDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="Student_Grading_System_For_PCU.My.MySettings.StudentRecordConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\StudentRecord.mdb"
            providerName="System.Data.OleDb" />
        <add name="Student_Grading_System_For_PCU.My.MySettings.StudentRecordConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\markl edcel hipol\Documents\StudentRecord.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Student_Grading_System_For_PCU.My.MySettings.StudentGradeRecordConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\markl edcel hipol\Documents\StudentGradeRecord.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>